<ion-header>
  <ion-toolbar>
    <ion-title>
      VirtualScroll2 - Active: {{virtualItems.length}}/{{items.length}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="onScroll($event)" #mainContainer>
  <div class="list" #listContainer [style.paddingTop]="(startIndex * rowHeight) + 'px'">
    <div *ngFor="let item of virtualItems" [style.height]="'68px'">
      {{item}}
    </div>
    <div class="list-spacer" [style.height]="((items.length - endIndex) * rowHeight) + 'px'"></div>
  </div>
</ion-content>
